/*----------------------------
  PAGE SETUP
----------------------------*/
html, body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-bg-color);
}



/*----------------------------
  ABOUT ME SECTION
----------------------------*/
.header {
  text-align: center;
  text-decoration: underline;
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  letter-spacing: 0.12vw;
  font-weight: normal;
  font-size: var(--subheader-font-size);
}

.main-content-wrapper {
  display: flex;
  gap: 2.5vw;
  align-items: flex-start;
}

.main-content-img {
  width: 360px;
  height: auto;
  margin-left: 23.5%;
  margin-top: 7.5vh;
}

.main-content-txt {
  color: var(--primary-text-color);
  font-family: var(--secondary-font-family);
  font-size: var(--text-font-size); 
  line-height: 1.65;
  width: 42%;
  margin-bottom: 7.5vh;
}

.main-content-txt a {
  color: var(--link-txt-color);
  font-family: var(--secondary-font-family);
}