/*----------------------------
  PAGE SETUP
----------------------------*/
html, body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-bg-color);
}

/*----------------------------
  GET CONNECTED SECTION
----------------------------*/
.header {
    text-align: center;
    margin-left: 13.5%;
}

.header-txt {
    font-size: var(--header-font-size);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    letter-spacing: 0.12vw;
    font-weight: normal;
    text-decoration: underline;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    margin-left: 28.75%;
}

.contact-container {
    background-color: var(--button-bg-color);
    border: 3.75px solid var(--extra-bg-color);
    box-shadow: var(--button-box-shadow);
    border-radius: 47px;
    padding-left: 3.5%;
    padding-right: 3.5%;
    transition: all 0.5s ease;
}

.contact-container img {
    margin-left:  27%;
    margin-right: 27%;
    margin-top: 2.5vh;
    width: 203.75px;
    height: auto;
    border-radius: 15px;
    object-fit: contain;
}

.contact-container p {
    color: var(--primary-text-color);
    font-family: var(--secondary-font-family);
    letter-spacing: var(--text-letter-spacing);
    font-size: 1.35rem;
    text-align: center;
    margin-top: 1.2vh;
    margin-bottom: 1.75vh;
}

.contact-container a {
    background-color: var(--floating-bg-color);
    border: var(--button-border);
    transition: var(--button-transition);
    color: var(--primary-text-color);
    font-family: var(--button-font-family);
    transition: var(--button-transition);
    font-size: 1.75rem;
    padding: 0.8rem 1.85rem;
    border-radius: 100px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2.5vh;
    margin-left: 13%;
    width: 60%;
    text-align: center;
}
.contact-container a:hover {
    background-color: #434c72;
    transform: translateY(-3.5px);
}
.contact-container:hover {
    transform: translateY(-5px);
}