/*----------------------------
    PAGE SETUP
----------------------------*/
html, body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
}


/*----------------------------
    HEADER SECTION
----------------------------*/
.header-container {
    margin: 5vh 7.5vw;
    border-bottom: 4px dashed white;
}

.header-name {
    color: var(--primary-text-color);
    text-align: center;
}

.subheader-txt {
    color: var(--primary-text-color);
    text-align: center;
}

.main-body-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 7.9vw;
}


/*----------------------------
    NAVIGATION SECTION
----------------------------*/
.nav-button {
    display: flex;
    align-items: center;
    gap: 7.5rem;
    width: 100%;
    margin: 2vh 0;
    padding: 1rem 2rem;
    background-color: var(--button-bg-color);
    border: var(--button-border);
    border-radius: 90px;
    text-decoration: none;
    transition: transform 0.4s ease, background-color 0.2s ease;
}

.nav-button:hover {
    transform: scale(1.02);
    background-color: #727ba8;
}

.nav-icon {
    width: 155px;
    height: 155px;
    object-fit: contain;
}

.nav-text {
    color: var(--primary-text-color);
    font-size: 2.688rem;
    font-weight: 500;
}