/*----------------------------
    PAGE SETUP
----------------------------*/
html, body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
}


/*----------------------------
    HEADER SECTION
----------------------------*/
.header-container {
    margin: 5vh 7.5vw;
    border-bottom: 4.75px dashed white;
    margin-bottom: 1.5vh;
}

.header-name {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-size: var(--header-font-size);
    letter-spacing: var(--header-spacing);
    font-weight: normal;
    text-align: center;
    margin-bottom: -1.8vh;
}

.subheader-txt {
    font-family: var(--secondary-font-family);
    color: var(--primary-text-color);
    font-size: var(--subheader-font-size);
    letter-spacing: var(--subheader-spacing);
    font-style: italic;
    text-align: center;
}


/*----------------------------
    NAVIGATION SECTION
----------------------------*/
.main-body-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-button {
    background-color: var(--button-bg-color);
    border: var(--button-border);
    transition: var(--button-transition);
    display: flex;
    align-items: center;
    gap: 8vw;
    width: 80%;
    margin: 2vh 0;
    padding: 0.5rem 1.4rem;
    border-radius: 90px;
    text-decoration: none;
}

.nav-button:hover {
    transform: scale(1.02);
    background-color: var(--button-hover-color);
}

.nav-icon {
    width: 155px;
    height: 155px;
    object-fit: contain;
}

.nav-text {
    font-family: var(--button-font-family);
    color: var(--primary-text-color);
    font-size: 2.688rem;
}