/*----------------------------
  NAVIGATION BAR
----------------------------*/
.hamburger-menu {
  display: none;
}

.side-nav {
  background-color: var(--extra-bg-color);
  border-right: 5.75px dashed var(--button-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 2.5rem;
}

.side-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-nav-item {
  padding: 4vh 1.75vw;
  transition: all 0.5s ease;

}

.side-nav-item a {
  color: var(--primary-text-color);
  font-size: var(--nav-font-size);
  font-family: var(--button-font-family);
  text-decoration: none;
  transition: all 0.5s ease;

}

.side-nav-item a:hover {
  color: var(--button-hover-color);
}

.side-nav-item:hover {
  transform: translateY(-5px);
}