body {
/*----------------------
    BACKGROUND COLORS
-----------------------*/
--primary-bg-color: #050a30;
--secondary-bg-color: #282c4b;
--button-bg-color: #616e9e;
--button-hover-color: #727ba8;

/*-----------------------
    TEXT COLORS
------------------------*/
--primary-text-color: #f4f6fc;

/*-----------------------
    fONT SIZES
------------------------*/


/*-----------------------
    FONT FAMILIES
------------------------*/
--button-font-family: 'Chewy', system-ui;


/*-----------------------
    SPACING
------------------------*/



/*-----------------------
    BOX SHADOWS
------------------------*/

/*-----------------------
    BORDERS
------------------------*/
--button-border: 4px solid #282c4b;

}



