body {
/*----------------------
    BACKGROUND COLORS
-----------------------*/
--primary-bg-color: #1a1e3b;
--secondary-bg-color: #282c4b;
--extra-bg-color: #1c2030;
--button-bg-color: #616e9e;
--button-hover-color: #5c6697;



/*-----------------------
    TEXT COLORS
------------------------*/
--primary-text-color: #f4f6fc;
--link-txt-color: #b0bbe4;

/*-----------------------
    FONT SIZES
------------------------*/
--header-font-size: 3.75rem;
--subheader-font-size: 1.9rem;
--nav-font-size: 1.9rem;
--text-font-size: 1.35rem;
/*-----------------------
    FONT FAMILIES
------------------------*/
--button-font-family: 'Chewy', system-ui;
--primary-font-family: 'Alfa Slab One', system-ui;
--secondary-font-family: 'Host Grotesk', system-ui;


/*-----------------------
    SPACING
------------------------*/
--header-spacing: 0.15vw;
--subheader-spacing: 0.03vw;
--text-letter-spacing: 0.025vw;


/*-----------------------
    BOX SHADOWS
------------------------*/


/*-----------------------
    BORDERS
------------------------*/
--button-border: 4px solid #282c4b;


/*-----------------------
    TRANSITIONS
------------------------*/
--button-transition: transform 0.4s ease, background-color 0.2s ease;

}
