/*-----------------------------
    SCREENS 1000px AND BELOW
------------------------------*/
@media (max-width: 1000px) {
    .side-nav {
        padding: 0.25rem;
    }
    .header {
        font-size: 1.25rem;
        margin-left: 10%;
    }
    .main-content-img {
        width: 240px;
        margin-left: 23.5%;
        margin-top: 10vh;
    }
    .main-content-txt {
        font-size: 1.1rem;
        width: 38.5%;
    }
}


/*-----------------------------
    SCREENS 918px AND BELOW
------------------------------*/
@media (max-width: 918px) {
    .side-nav {
        padding: 0.5rem;
    } 
    .main-content-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .main-content-img {
        margin-left: 10vw;
        margin-top: 2.5vh;
        width: 260px;
    }
    .main-content-txt {
        width: 60vw;
        margin-left: 20%;
        margin-top: 3vh;
    }
}


/*-----------------------------
    SCREENS 786px AND BELOW
------------------------------*/
@media (max-width: 786px) {
    .header {
        font-size: 1.2rem;
        margin-left: 15%;
    }
    .main-content-img {
        margin-left: 15vw;
    }
    .main-content-txt {
        margin-left: 27.5%;
        font-size: 1.025rem;
        width: 65vw;
    }
}


/*-----------------------------
    SCREENS 720px AND BELOW
------------------------------*/
@media (max-width: 720px) {
    .header {
        margin-left: 20%;
    }
    .main-content-img {
        width: 220px;
        margin-left: 22.5vw;
    }
    .main-content-txt {
        margin-left: 31%;
        font-size: 1.015rem;
        width: 63vw;
    }
}


/*-----------------------------
    SCREENS 660px AND BELOW
------------------------------*/
@media (max-width: 660px) { 
    .side-nav {
        padding: 0.25rem;
    }
    .side-nav-item a {
        font-size: 1.75rem;
    }
    .header {
        font-size: 1.1rem;
        margin-left: 23.5%;
    }
    .main-content-img {
        margin-left: 25.75vw;
        width: 230px;
    }
    .main-content-txt {
        margin-left: 28.5%;
        font-size: 1.01rem;
        width: 61.5vw;
    }
}


/*-----------------------------
    SCREENS 600px AND BELOW
------------------------------*/
@media (max-width: 600px) {
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: transparent;
        position: fixed;
        border: none;
        cursor: pointer;
        z-index: 1000;
        width: 37px;
        top: 23.5px;
        left: 20px;
    }
    .hamburger-menu span {
        width: 100%;
        height: 5px;
        background-color: white;
        margin: 0.3vh 0;
        border-radius: 20px;
        transition: all 0.4s ease;
    }
    .hamburger-menu.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
        transform: translateX(-20px);
    }
    .hamburger-menu.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
    .side-nav {
        position: fixed;
        transform: translateX(-105%);
        transition: transform 0.4s ease-in-out;
    }
    .side-nav.open {
        transform: translateX(0);
    }
    .side-nav-list {
        margin-top: 6.25vh;
    }
    .header {
        font-size: 1.15rem;
        margin-left: 0%;
    }
    .main-content-img {
        margin-left: 0%;
        width: 240px;
    }
    .main-content-txt {
        margin-left: 0%;
        width: 85vw;
        font-size: 1.15rem;
    }
}