/*-----------------------------
    SCREENS 1000px AND BELOW
------------------------------*/
@media (max-width: 1000px) {
    .side-nav {
        padding: 0.25rem;
    }
    .header {
        font-size: 1.25rem;
        margin-left: 10%;
    }
    .main-content-img {
        width: 240px;
        margin-left: 23.5%;
        margin-top: 10vh;
    }
    .main-content-txt {
        font-size: 1.1rem;
        width: 38.5%;
    }
}

/*-----------------------------
    SCREENS 918px AND BELOW
------------------------------*/
@media (max-width: 918px) { 
    .main-content-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .main-content-img {
        margin-left: 10vw;
        margin-top: 2.5vh;
    }
    .main-content-txt {
        width: 55vw;
        margin-left: 15vw;
        margin-top: 3vh;
    }
}