/*-----------------------------
    SCREENS 1000px AND BELOW
------------------------------*/
@media (max-width: 1000px) {
    .side-nav {
        padding: 0.25rem;
    }
}


/*-----------------------------
    SCREENS 918px AND BELOW
------------------------------*/
@media (max-width: 918px) {
    .side-nav {
        padding: 0.5rem;
    } 
}


/*-----------------------------
    SCREENS 660px AND BELOW
------------------------------*/
@media (max-width: 660px) { 
    .side-nav {
        padding: 0.25rem;
    }
    .side-nav-item a {
        font-size: 1.75rem;
    }
}
        

/*-----------------------------
    SCREENS 600px AND BELOW
------------------------------*/
@media (max-width: 600px) {
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: transparent;
        position: fixed;
        border: none;
        cursor: pointer;
        z-index: 1000;
        width: 37px;
        top: 23.5px;
        left: 20px;
    }
    .hamburger-menu span {
        width: 100%;
        height: 5px;
        background-color: white;
        margin: 0.3vh 0;
        border-radius: 20px;
        transition: all 0.4s ease;
    }
    .hamburger-menu.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
        transform: translateX(-20px);
    }
    .hamburger-menu.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
    .side-nav {
        position: fixed;
        transform: translateX(-105%);
        transition: transform 0.4s ease-in-out;
    }
    .side-nav.open {
        transform: translateX(0);
    }
    .side-nav-list {
        margin-top: 6.25vh;
    }
}